{% load menu_tags %}

{% for good in goods %}
<div class="col">
            {% if good.sale != 0 %}
            <span class="badge bg-primary text-white fw-normal px-2 py-2 fs-7 position-absolute end-0 me-2">{{ good.sale }}% OFF</span>
    <div class="product-item">
        <figure>
            {% endif %}
            <a href="#" title="{{ good.name }}">
                <img src="{{ good.image.url }}" alt="Product Thumbnail" class="tab-image">
            </a>
        </figure>
        <div class="d-flex flex-column text-center">
            <h3 class="fs-6 fw-normal mb-0">{{ good.name }}</h3>
            <div>
                        <span class="rating">
                          {% for star in good.stars|stars|safe %}
                          <img width="14" height="14" src="/media/icons/star-{{star}}.svg">
                          {% endfor %}
                        </span>
                <span>({{ good.reviews }})</span>

            </div>
            <div class="d-flex justify-content-center align-items-center gap-2">
                {% if good.sale %}
                <del>{{ good.cost }}</del>
                {% endif %}
                <span class="text-dark fw-semibold">{{ good.cost }}</span>
            </div>
            {% comment %}
            <!--                      <div class="button-area p-3 pt-0">-->
            <!--                        <div class="row g-1">-->
            <!--                          <div class="col-12 justify-content-center d-flex mt-0">-->
            <!--                            <div class="input-group product-qty" style="max-width: 150px;">-->
            <!--                              <span class="input-group-btn">-->
            <!--                                  <button type="button" class="quantity-left-minus btn btn-light btn-number" data-type="minus" data-field="">-->
            <!--                                    <svg width="16" height="16"><use xlink:href="#minus"></use></svg>-->
            <!--                                  </button>-->
            <!--                              </span>-->
            <!--                              <input type="text" id="quantity" name="quantity" class="quantity form-control input-number text-center" value="1" min="1" max="100">-->
            <!--                              <span class="input-group-btn">-->
            <!--                                  <button type="button" class="quantity-right-plus btn btn-light btn-number" data-type="plus" data-field="">-->
            <!--                                      <svg width="16" height="16"><use xlink:href="#plus"></use></svg>-->
            <!--                                  </button>-->
            <!--                              </span>-->
            <!--                            </div>-->
            <!--                          </div>-->
            <!--                          <div class="col-12"><a href="#" class="btn btn-primary rounded-1 p-2 fs-7 btn-cart"><svg-->
            <!--                                width="18" height="18">-->
            <!--                                <use xlink:href="#cart"></use>-->
            <!--                              </svg> Add to Cart</a></div>-->
            <!--                        </div>-->
            <!--                      </div>-->
            {% endcomment %}
        </div>
    </div>
</div>
{% empty %}
    <p>No products found in this category.</p>
{% endfor %}

